<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Python Quiz Information</h3>
         Question<br>
         <input type = "text" name = "ques" /></br>

         Option 1<br>
         <input type="text" name = "O1" ><br>
         Option 2<br>
         <input type="text" name = "O2" ><br>
         Option 3<br>
         <input type="text" name = "O3" ><br>
         Option 4<br>
         <input type="text" name = "O4" ><br>
         Right Answer<br>
         <input type = "text" name = "rans" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>